asgiref                      
certifi                       
charset-normalizer           
Django                       
django-cors-headers          
djangorestframework           
djangorestframework_simplejwt 
idna                          
pip                           
PyJWT                        
python-dotenv                 
requests                     
sqlparse                      
tzdata                       
urllib3                       "gunicorn==20.1.0" 
